# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Folders to be ignored
**/b03/data/spatial
**/b03/data/tabular/old
**/b03/model-inputs
**/b03/model-outputs
**/b03/scripts/old
**/b03/grass7
**/b03/results
**/b01b02/inputs
**/b01b02/maps
**/b01b02/data/spatial
**/b01b02/outputs
**/b01b02/QGISstyles
**/combined/maps

# Files to be ignored
phase2/junk
phase2/phase2.Rproj
